
<div class="row" id="emailList__list">
    <!-- Email Row Starts -->
    <div class="col" id="emailRow">
        <div class="col" id="emailRow__options">
            <input type="checkbox" />
            <span class="material-icons"> label_important </span>
        </div>
        <div class="col">
            <h3 id="emailRow__title">To: EAD</h3>
        </div>
        <div class="col" id="emailRow__message">
            <h4>
                Assignment
                <span class="emailRow__description"> - BSEF19M043 </span>
            </h4>
        </div>
        <div class="col">
            <p class="emailRow__time">1pm</p>
        </div>
    </div>
</div>