<form action="/Home/MailDetail">
    <div class="form-group">
        <textarea class="form-control" id="compose-message" placeholder="Reply" rows="10" required></textarea>
        <button type="submit" id="send-button" class="btn btn-primary">Send</button>
        <button type="button" id="canc" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
</form>